version: '3.8'

services:
  # PHP приложение Laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dockerized-laravel-app
    restart: unless-stopped
    volumes:
      - ./:/var/www/html
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - dockerized-laravel-network
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  # Веб-сервер Nginx
  webserver:
    image: nginx:alpine
    container_name: dockerized-laravel-webserver
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./:/var/www/html
      # Монтируем файл конфигурации напрямую
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - dockerized-laravel-network
    depends_on:
      - app

  # База данных MySQL
  db:
    image: mysql:8.0
    container_name: dockerized-laravel-db
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_USER=${DB_USERNAME}
    volumes:
      - dockerized-laravel-data:/var/lib/mysql
    networks:
      - dockerized-laravel-network
    ports:
      - "3307:3306"

# Сети Docker
networks:
  dockerized-laravel-network:
    driver: bridge

# Постоянные файлы
volumes:
  dockerized-laravel-data:
    driver: local
